body {
    background-color: gray; /* Bakgrundsfärg */
    font-family: Arial, Helvetica, sans-serif; /* Teckensnitt */
    color: gray
}
body {
    background-image: url('GitHub_visuals/boxing_picture.jpg'); /* Searchway */
    background-size: cover; /* Makes the picture cover the whole page */
    background-repeat: no-repeat; /* controls that the picture doesn't repeat */
    background-position: center; /* Puts the picture in center*/
}

h1 {
    color: lightgray; /* Color for h1 */
}

p {
    line-height: 1.6; /* Radavstånd */
}
